#Contact li{
    display: flex;
    margin-right: 2vw;

}

#Contact ul {
    font-size: 10vh;
    min-width: 25vw;
    position: absolute;
    top: 300vh;
    left: 10vw;
    border-radius: 10px;
}

#Contact a {
    color: white;
    text-decoration: none !important;
}


#Contact .titre {
    position: absolute;
    left: 50%;
    top: 310vh;
    font-size: 8vh;
    transform: translate(-50%, -50%);
}