#Portfolio {
  background: radial-gradient(circle, rgb(95, 7, 7) 0%, rgb(15, 15, 15) 100%);
}

#Portfolio .titre {
    position: absolute;
    left: 50%;
    top: 310vh;
    font-size: 8vh;
    transform: translate(-50%, -50%);
}

#Portfolio ::-webkit-scrollbar-track {
  background-color: radial-gradient(circle, rgb(77, 8, 59) 0%, rgba(0,0,0,1) 100%); /* Couleur du fond de la scrollbar */
}

#Portfolio ::-webkit-scrollbar {
  height: 0.8vw; /* Largeur de la scrollbar */
}

/* Handle (la partie de la scrollbar que vous faites glisser) */
#Portfolio ::-webkit-scrollbar-thumb {
  background-color: #bbbbbb; /* Couleur de la partie draggable de la scrollbar */
  border-radius: 0.5vw; /* Bordure arrondie de la partie draggable */
  
}


.portfolio-container.un{
  position: absolute;
  top: 325vh;
  width: 99.5vw;
  overflow-x: auto;
  white-space: nowrap;
}

.portfolio-container.deux{
  position: absolute;
  top: 355vh;
  width: 99.5vw;
  overflow-x: auto;
  white-space: nowrap;
}

.slider {
  display: inline-block;
}

.portfolio-item {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  width: 25%; /* 4 items per row */
  height: 20vh;
  white-space: normal;
}

.portfolio-content {
  padding: 3vh;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2vh;
  margin: 2vh;
  background-color: #ffffff34;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  font-size: 2vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5vh;
  border-radius: 2vw;
}

.close {
  position: absolute;
  top: 4vh;
  right: 1vw;
  font-size: 4vh;
  color: #ffffff;
  cursor: pointer;
}

.close:hover {
  color: #949494;
}



.droite {
  position: absolute;
  left: 65vw;
  font-size: 2vh;
  transform: translate(0%, 50%);
}



ul {
  list-style-type: none;
}


.gauche {
  position: absolute;
  left: 2vw;
  font-size: 2vh;


  max-width: 60vw;
}